body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #e74246;
}

.button:active {
  color: #ffffff;
  background-color: #d7373b;
}

.main-header {
  background-color: #eeeeee;
  width: 100%
}

.main-header .container {
  display: flex;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
  margin-bottom: 32px;
}

.main-navigation .main-logo {
  width: 160px;
  height: 66px;
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 440px;
  margin-left: 200px;
}

.user-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 160px;
  margin-left: auto;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
}

.about-company {
  color: #000000;
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.about-company .slider-header {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  background-color: #eeeeee;
}

.services {
  margin-bottom: 81px;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item:nth-child(2),
.services-item:nth-child(3) {
  margin-left: 100px;
}

.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-item p {
  color: #283136;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
}

.promo {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-us-main h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about-us-list {
  list-style: none;
}

.about-us-since p {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about-us-since .percentage {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.partners-list {
  list-style: none;
}

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-bottom: 110px;
  margin-bottom: 60px;
  color: #000000;
  text-align: center;
  background-color: #eeeeee;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;

}

.filters {
  width: 260px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter-list {
  list-style: none;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.filter-input {
  color: #4d4d4d;
  opacity: 0.4;
}

.filter-input:hover .filter-input:focus {
  color: #4d4d4d;
}

.filter-input:disabled {
  color: #4d4d4d;
  opacity: 0.1;
}

.catalog {
  width: 860px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;

  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
}

.catalog-item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.catalog-pop-up h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.catalog-pop-up p {
  text-align: center;
}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item a {
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: white;
  border: 3px solid #dbdbdb;
}

.modal h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.studio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.main-footer .container {
  display: flex;
}

.footer-social {
  padding-top: 69px;
  margin-right: 140px;
  width: 260px;
}

.social-button {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-button a {
  color: inherit;
}

.footer-slogan {
  width: 560px;
  padding-top: 80px;
}

.slogan-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
